

.cont4{
    background-color:black;
    /* border: 2px solid rgb(221, 96, 208); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 99vw; 
    text-align: center;
    
    color: white;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.p6{
    display: inline-block;
    font-size: 26px;
    
}

.cont4-b2{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    /* border: 2px solid greenyellow; */
    width: 40vw;
    margin-top: 30px;
    padding-bottom: 10px;   
    padding-right: 20px;
    column-gap: 15px;
    
}

.c4-btn{
    background-color: white;
    cursor: pointer;
    color: black;
     
    


}

