.footerDiv{
    height: 900px;
    width: 99vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.footdiv-1{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* border: 2px solid black; */
    width: 74vw;
    
}

.logo2{
    height: 30px;
    /* border: 2px solid yellow; */
    margin-bottom: 20px;
}

.p5{
    /* border: 2px solid red; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-bottom: 20px;
    line-height: 20px;
}



#table2{
    border-collapse: collapse;
    width: 78%;
    font-size: 8px;
    text-wrap: wrap;
    
}

.thh,.tdd{
    text-align: left;
    /* border: 1px solid black; */
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 6px;
    cursor: pointer;
    
    padding-left: 30px;
   


}

.tdd{
    font-size: small;
    
}


.footdiv-2{
    /* border: 2px solid black; */
    width: 74vw;
    height: 20%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

}


.footb1{
    width: 88%;
    height: 80%;
    /* border: 2px solid black; */
}
.p7{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
    font-size: 13px

    
}

.footb2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 12%;
    height: 40px;
    /* border: 2px solid pink; */
    margin-top: 15px;
    
    
}

.foot-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 22px;
    /* border: 2px red; */
    background-color: blue;
    border-radius: 50%;
    height: 25px;
    background-color:white ;
    gap:4px;
}

.foot-img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}


/*================= TABLET ================= */

@media (max-width: 992px){

   
   .cont4{
        flex-direction: column;
        height: fit-content;
        flex-wrap: wrap;
        margin: 0;
        font-size: large;
        text-wrap: wrap;
    }
   
    .p6{
        font-size: large;
        text-align: center;
        padding:0
    }  
    .pp6{
        font-size: large;
    }

    .cont4-b2{
        /* display: inline; */
        /* font-size: smaller; */
        align-self: center;
    }

    .c4-btn{
        font-size: medium;
    }
}


/* ================= MOBILE ================= */

@media (max-width: 768px){

   .cont4{
        flex-direction: column;
        height: fit-content;
        flex-wrap: wrap;
        margin: 0;
        font-size: medium;
        text-wrap: wrap;
    }
   
    .p6{
        font-size: medium;
        text-align: center;
        padding:0
    }  
    .pp6{
        font-size: medium;
    }

    .cont4-b2{
        /* display: inline; */
        /* font-size: smaller; */
        align-self: center;
    }

    .c4-btn{
        font-size: small;
    }
}

/* ================= SMALL MOBILE ================= */

@media (min-width:0) and (max-width: 480px){

    .footerDiv{
        /* width: 99%; */
        /* flex-direction: row; */
        font-size: smaller;
    }

   



    .logo2{
        height: 20px;
        margin: 10px;
    }

    .p5{
        font-size: smaller;
        margin-bottom: 10px;
        line-height: 10px;
    }

    /* #table2{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;

    } */

    .footdiv-2{
        width: fit-content;
        margin-top: 20px;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
