
.animated{
    /* display: inline-block; */
    height: 47px;
    width: 99vw;
    overflow: hidden;
    background: rgb(247, 219, 208);
    padding: 10px 0;
    border-bottom: 2px solid red;
}


#p{
    align-items: center;
    white-space: nowrap;   /* no wrap mean text in one line not go second */
    animation: moveLeft 30s linear infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

@keyframes moveLeft{
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(-100%);
    }
}

p:hover{
    animation-play-state: paused;
    /* background-color: white; */
}