

.header{
    grid-area: header;
}

.homepage{
    grid-area: homepage;
}

.index{
    grid-area: index;
}

.signupTable{
    grid-area: signupTable;
}

.cont2{
    grid-area: cont2;
}

.cont3{
    grid-area: cont3;
}

.cont4{
    grid-area: cont4;
}

.footer{
    grid-area: footer;
}

@media (max-width:900px){
    .container{
        grid-template-areas: 
            "header"
            "homepage"
            "index"
            "signupTable"
            "cont2"
            "cont3"
            "cont4"
            "footer";
        grid-template-columns: 1fr;        
        
        
    }
}